---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title="Mark Shust | Adobe Commerce Certified Magento Developer, Architect & Teacher in Cleveland, Ohio" description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title="Mark Shust" />
		<main>
			<h1>Hey, I'm Mark! 👋</h1>
			<p>I’ve been following Magento since the early days (version 0.8?). Before Magento, I was an experienced PHP developer with a number of development agencies. Eventually, I learned enough to become a <a href="https://www.zend-zce.com/en/yellow-pages/ZEND014633" target="_blank" rel="noreferrer">Zend Certified Engineer</a>.</p>
		    <p>Once I started developing full time in Magento, around version 1.4, I quickly realized this framework was special, and wanted to learn everything about it. I flew out to Culver City and got trained at Magento Inc.’s headquarters, and the bug bit me.</p>
			<p>On the flight home, I knew I’d be involved with Magento for a long time. I wanted to deliver exceptional work to my clients, so I learned everything I could. I created a number of Magento modules, gained experience as a solution architect, and even gave a speech at Magento Imagine in Las Vegas.</p>
			<p>Years passed, and my passion has only grown since those early years, eventually becoming an <a href="https://www.youracclaim.com/users/mark-shust" target="_blank" rel="noreferrer">Adobe Certified Magento Developer</a>. I got quite involved with Docker in my early years of trying to setup Magento 2 on my Mac, which eventually became <a href="https://github.com/markshust/docker-magento" target="_blank" rel="noreferrer">the most popular development environment for Magento 2</a>.</p>
			<p>As the repository grew in popularity, I became quite versed with <a href="https://m.academy/courses/build-12-factor-nodejs-app-docker/" target="_blank" rel="noreferrer">building 12 Factor Apps with Docker</a>, and even gave another speech at Meet Magento in New York.</p>
			<p>As usage for the project grew, so did the number of questions I received about it. I decided to put together a collection of lessons to teach all of the concepts for <a href="https://m.academy/courses/setup-magento-2-development-environment-docker" target="_blank" rel="noreferrer">setting up a Magento 2 Development environment with Docker</a>. This course became the first contribution to <a href="https://m.academy" target="_blank" rel="noreferrer">M.academy</a>, a training resource I put together to teach everything I know about Magento to others.</p>
			<p>Over the years my passion has changed from consultant to teacher. I’m obsessed with teaching others all of the special techniques &amp; tricks I learned over all these years.</p><p>My wish is that you learn to love Magento as much as I do, and became a great developer or architect at that. I promise to do my best, and hope that one day you can <a href="/blog/2019/10/29/let-magento-kill-you/">let Magento kill you</a> too.</p>
			<p>Keep coding,<br>- Mark</p>
		</main>
		<Footer />
	</body>
</html>
